:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url("./assets/wallpaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}